*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    color: hsl(208, 11%, 55%);
}
body{
    font-size: 18px;
    overflow-x: hidden;
}
button {
    font-family: tahoma;
    font-size: 18px;
}
header {
    max-height: 730px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(../project.img/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header .head button {
        background-color: #fff;
        font-size: 14px;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 1px 5px 16px #d8d7d7;
        border: none;
        cursor: pointer;
        position: relative;
        left: 71%;
        bottom: 10px;
}
.header .head button:hover{
    background-color: hsl(322, 100%, 66%);
}
.header .head {
    position: relative;
    top: 50px;
}
.header .head img {
    position: relative;
    left: 50px;
}
.header-parap img{
    width: 800px;
    height: 500px;
    position: relative;
    left: 28%;
    bottom: 120px;
}
.header-parap h1 {
    width: 400px;
    position: relative;
    top: 200px;
    left: 55px;
    line-height: 60px;
}
.header-parap p{
    width: 490px;
    line-height: 40px;
    position: relative;
    top: 220px;
    left: 55px;
}
.header-parap button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 55px;
    bottom: 230px;
}
.header-parap button:hover {
    background-color: hsl(322, 69%, 49%);
    color: black;
}
.main, h2, p {
    width: 480px;
    position: relative;
    top: 150px;
    left: 110px;
    line-height: 35px;
}
.main h2 {
    line-height: 60px;
}
.main img {
    width: 500px;
    position: relative;
    left: 55rem;
    bottom: 130px;
}
.main {
    width: 88rem;
    height: 500px;
    box-shadow: 1px 2px 10px 1px  #d6d3d3;
    position: relative;
    left: 65px;
    top: auto;
    top: 100px;
    border-radius: 15px;
}
.main2 {
    width: 88rem;
    height: 500px;
    box-shadow: 1px 2px 10px 1px  #d6d3d3;
    position: relative;
    left: 65px;
    top: auto;
    top: 130px;
    border-radius: 15px;
}
.main2 img {
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 100px;
}
.main2, h2,p {
    display: flex;
}
.main2 h2 {
    position: relative;
    left: 400px;
    top: 180px;
}
.main2 p {
    position: relative;
    top: 230px;
    left: -55px;
}
.main3 {
    width: 88rem;
    height: 500px;
    box-shadow: 1px 2px 10px 1px  #d6d3d3;
    position: relative;
    left: 65px;
    top: auto;
    top: 160px;
    border-radius: 15px;
}
.main3 img {
    width: 500px;
    position: relative;
    left: 870px;
    bottom: 100px;
}
.main3 h2 {
    line-height: 60px;
}
.main4 {
    position: relative;
    top: 280px;
    box-shadow: 1px 1px 1px 1px  #d6d3d3;
    background-color: #fff;
    margin-left: 410px;
    margin-right: 400px;
    height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 150px;
    border-radius: 15px;
    z-index: 1;
}
.main4 h1 {
    position: relative;
    top: 30px;
    line-height: 70px;
}
.main4 button {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    cursor: pointer;
    position: relative;
}
.main4 button:hover{
    background-color: hsl(322, 69%, 49%);
    color: black;
}
footer {
    position: fixed;
    background-color: hsl(192, 100%, 9%);
    position: relative;
    height: 27.5em;
    top: 65px;
}
.footer-address{
    position: relative;
    left: 68%;
    bottom: 150px;
}
.footer-address p {
color: #fff;
}
.footer .img1 {
    filter: brightness(0) saturate(100%) invert(100%);
    position: relative;
    top: 100px;
    left: 150px;
}
.footer img {
    position: relative;
    top: 180px;
    left: 150px;
}
.footer p {
    position: relative;
    left: 190px;
    width: 350px;
    color: #fff;
}
.footer .img2 {
    position: relative;
    left: -90px;
}
.footer-link, .footer-link2 {
    display: inline-flex;
    flex-direction: column;
    gap: 35px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    width: 105px;
}

.footer-link{
    position: relative;
    left: 650px;
    top: -58px;
}

.footer-link2{
    position: relative;
    left: 800px;
    top: -58px;
}

li {
    list-style: none; 
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 1.5px;
    cursor: pointer; 
}
.footer-icon {
    display: flex;
    column-gap: 12px;
}

.footer-icon svg {
    display: block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #fff; 
    width: 40px;
    position: relative;
    height: 30px;
    left: 72rem;
    bottom: 195px;
}
.footer-icon svg:hover{
    color: hsl(322, 100%, 66%);
}
.footer .p1:hover {
    width: 130px;
    text-decoration: underline; 
    text-underline-offset: 1.5px; 
    cursor: pointer; 
}